[submodule "CP_Discussion_Front-End"]
	path = CP_Discussion_Front-End
	url = git@github.com:FateAC/CP_Discussion_Front-End.git

[submodule "CP_Discussion_Back-End"]
	path = CP_Discussion_Back-End
	url = git@github.com:FateAC/CP_Discussion_Back-End.git